.mantine-TextInput-input:focus:not([data-invalid]) {
  border-color: #2b8a3e !important;
}

.mantine-Textarea-input:focus:not([data-invalid]) {
  border-color: #2b8a3e !important;
}

.mantine-DateInput-input:focus:not([data-invalid]) {
  border-color: #2b8a3e !important;
}

.mantine-MonthPickerInput-input:focus-within {
  border-color: #2b8a3e !important;
}

.mantine-YearPickerInput-input:focus-within {
  border-color: #2b8a3e !important;
}

.mantine-PasswordInput-input:focus-within {
  border-color: #2b8a3e !important;
}

a {
  text-decoration: none !important;
  
}
